<!DOCTYPE html>
<html lang="ja">
<%- include('head.ejs') %>

<body>
  <%- include('nav.ejs') %>
  <% switch (style) { 
    case 'tile': %>
  <%- include('books_tile.ejs', books) %>
  <%  break; 
    default: %>
  <%- include('books_list.ejs', books) %>
  <%  break;
  } %>
  <%- include('footer.ejs') %>
</body>

</html>